@import "includes/variables";
@import "includes/mixins";
@import "includes/iconfonts";
@import "includes/fonts";
@import "includes/global";
@import "includes/grid";
@import "includes/layout";
@import "includes/navigation";

body {
	background: lighten($gray200, 3%);
}

#dashboard-header {
	background: $white;
	@include boxshadow(1.5rem 0 2.5rem rgba($black, .1));
}

.logo {
	display: block;
	text-align: center;
	padding:2rem;
	img {
		width: 20rem;
	}
}

.myaccount {
	background: lighten($gray200, 3%);
}

.announcements {
	max-width:80rem;
	margin:0 auto;

	.announcement-item {
		position: relative;
		padding:5rem 0 5rem 29rem;
		min-height: 25.6rem;
		border-bottom:.1px solid $gray200;

		.ai-photo {
			@extend .semisquarebox;
			position: absolute;
			left:0;
			top:5rem;
			background: $gray200;
			width:24rem;
		}

		p { margin:0; }

		&:first-child { min-height: 20.6rem;; padding-top:0; .ai-photo { top:0 } }

	}

}

.editprofile {
	max-width: 80rem;
}

.changepassword { 
	max-width: 50rem; .action input[type="submit"] { width:100% } 
}

.referral-link {
	margin-bottom:3rem;
	.amount-box-list span { font-size:1.8rem; line-height: 1.8rem; em { margin-bottom:.65rem }}
}

.security-setting-list {
	list-style: none;
	margin:-5rem 0 0;
	padding:0;

	li {
		position: relative;
		padding:3rem 22rem 3rem 0;
		border-bottom:.1rem solid $gray200;
	}

	h5 {
		margin:0 0 .5rem;
	}

	p {
		margin:0;
	}

	.action {
		position: absolute;
		right:0;
		top:3rem;
		width:20rem;
		.nbtn { width:100%; }
	}

}